@import '~@angular/material/theming';
@import './custom_palettes.scss';

$my-app-primary: mat-palette($md-primary, 500, A400, A700);
$my-app-accent:  mat-palette($md-secondary, 500, A400, A700);
$my-app-warn:    mat-palette($mat-deep-orange);


$primary: mat-color($my-app-primary);
$primary-contrast: mat-color($my-app-primary, default-contrast);
$secondary: mat-color($my-app-accent);
$secondary-contrast: mat-color($my-app-accent, default-contrast);