.plaid-intro {
  text-align: center;
}

.greeting {
  padding-top: 100px;
}

.data {
  min-height: 50%;
}

.account {
  text-indent: 10%;
}

.mat-card{
  min-height: 50vh;
  padding: 0;
}

.main-card{
  margin: 20px 20px 20px 20px;
}

:host ::ng-deep .main-card ul {
  overflow: auto !important;
}